<div class="container mt-5">
    <div class="row justify-content-center">  
        <div class="card text-center col-lg-3 col-md-4 m-1 mf-0" *ngFor="let pokemon of pokemonList.results; let i = index">
            <img class="card-img-top m-2" src="{{ getImage(i + 1) }}" width="100" height="250" alt="Imagem de capa do card">
            <div class="card-body">
            <h5 class="card-title"> {{ pokemon.name}}</h5>
            <a (click)="catchPokemon(pokemon)" class="btn btn-warning">
                Catch Pokemon!
                <img 
                src="../../../assets/pokeball.svg" 
                alt="triangle with all three sides equal"
                height="24px"
                width="50px" />
            </a>
            </div>
        </div>
    </div> 
</div>
