<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card text-center col-lg-3 col-md-5 col-8 m-1 mf-0"
            *ngFor="let pokemon of pokemonList; let i = index">
            <img class="card-img-top m-2" src="{{ getImage(i + 1) }}" width="100" height="250"
                alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title"> {{ pokemon.name}}</h5>
                <a (click)="catchPokemon(pokemon)" class="btn btn-warning">
                    Catch Pokemon!
                    <img src="../../../assets/pokeball.svg" height="24px" width="50px" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 text-center">
    <button class="btn btn-warning btn-lg" (click)="getNextPage()">
        Load More
        <img src="../../../assets/loader.svg" height="44px" width="70px" />
    </button>
</div>