<div class="container m-4">
    <form #s="ngForm" (ngSubmit)="submit(s)"> 
        <div class="input-group mb-3">
            <input ngModel name="searchPokemon" type="text" class="form-control" placeholder="Search Pokemon">
            <div class="input-group-append">
                <button class="btn btn-outline-warning">Search</button>
            </div>
        </div>
    </form>

    <div *ngIf="isSearch">
        <div class="d-flex justify-content-center">
            <div class="card text-center col-lg-3 col-md-4 m-1 mf-0">
                <img class="card-img-top" src="{{ getImage(pokemon.id) }}" alt="Imagem do Pokemon">
                <div class="card-body">
                <h5 class="card-title"> {{ pokemon.name }}</h5>
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                <a href="#" class="btn btn-warning">Catch Pokemon!</a>
                </div>
            </div>
        </div>
    </div>
</div>