<div class="container justify-content-center mt-5">
    <form #s="ngForm" (ngSubmit)="submit(s)"> 
        <div class="input-group mb-3">
            <input ngModel name="searchPokemon" type="text" class="form-control" placeholder="Search Pokemon">
            <div class="input-group-append">
                <button class="btn btn-outline-warning">
                    Search
                    <img 
                        src="../../../assets/pokeball-search.svg" 
                        alt="triangle with all three sides equal"
                        height="24px"
                        width="50px" />
                </button>
            </div>
        </div>
    </form>

    <div *ngIf="isSearch">
        <div class="d-flex justify-content-center">
            <div class="card text-center col-lg-3 col-md-4 m-1 mf-0">
                <img class="card-img-top" src="{{ getImage(pokemon.id) }}" alt="Imagem do Pokemon">
                <div class="card-body">
                <h5 class="card-title"> {{ pokemon.name }}</h5>
                <p class="card-text">Height: {{ pokemon.height }} // Weight: {{ pokemon.weight }}</p>
                <h6>Skills</h6>
                <ul class="list-group list-group-flush" *ngFor="let skill of pokemon.abilities">
                    <li class="list-group-item">{{ skill.ability.name }}</li>
                </ul>
                <a (click)="catchPokemon(pokemon)" class="btn btn-warning mt-2">
                    Catch Pokemon!
                    <img 
                        src="../../../assets/pokeball.svg" 
                        alt="triangle with all three sides equal"
                        height="24px"
                        width="50px" />
                </a>
                </div>
            </div>
        </div>
    </div>
</div>